{{ define "main" }}
    <div class="container">
        <h1 class="text-primary mb-4 text-secondary">{{ .Title }}</h1>
        <div class="mb-3">

            
            <div id="tagButtons" class="d-flex flex-wrap gap-2">
                <!-- Bouton pour afficher tous les projets -->
                <button class="btn btn-outline-secondary btn-sm" data-tag="">All</button>
            
                {{ $projectTags := slice }} <!-- Initialise une liste vide pour stocker les tags des projets -->
            
                {{ range where .Site.RegularPages "Section" "projects" }} <!-- Boucle uniquement sur les projets -->
                    {{ range .Params.tags }}
                        {{ $tag := . | lower }} <!-- Convertit le tag en minuscule pour éviter les doublons en majuscule/minuscule -->
                        {{ if not (in $projectTags $tag) }} 
                            {{ $projectTags = $projectTags | append $tag }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            
                {{ range $projectTags }}
                    <button class="btn btn-outline-primary btn-sm" data-tag="{{ . }}">
                        {{ . }}
                    </button>
                {{ end }}
            </div>
            
            
        </div>
        <div class="row">
            {{ $pinned := slice }}
            {{ $regular := slice }}
        
            {{ range sort .Pages "Date" "desc" }}
                {{ if .Params.pinned }}
                    {{ $pinned = $pinned | append . }}
                {{ else }}
                    {{ $regular = $regular | append . }}
                {{ end }}
            {{ end }}
        
            {{ $sortedPages := union $pinned $regular }}
        
            {{ range $sortedPages }}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card p-3 d-flex flex-column h-100 {{ if .Params.pinned }}border border-primary{{ end }}">
                    <h5 class="card-title">
                        <a href="{{ .RelPermalink }}" class="text-decoration-none text-dark">
                            {{ if .Params.pinned }}<span class="emoji">📌</span>{{ end }} {{ .Title }}
                        </a>
                    </h5>
                    
                    <p class="text-muted small">🗓️ {{ .Date.Format "02 January 2006" }}</p>
                    
                    <div class="tags mb-2">
                        {{ range .Params.tags }}
                            <span class="badge bg-secondary me-1">{{ . | lower }}</span>
                        {{ end }}
                    </div>
            
                    <div class="mt-auto">
                        <a href="{{ .RelPermalink }}" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        
        

    <script>
        document.addEventListener("DOMContentLoaded", function() {
    const tagButtons = document.querySelectorAll("#tagButtons button");
    const cards = document.querySelectorAll(".card");
    let activeTag = null; // Variable pour suivre le tag actif

    tagButtons.forEach(button => {
        button.addEventListener("click", function() {
            const selectedTag = this.getAttribute("data-tag");
            
            // Vérifie si le bouton est déjà actif
            if (activeTag === selectedTag) {
                // Désactive le bouton et réinitialise l'affichage
                this.classList.remove("active");
                activeTag = null;
                showAllCards();
            } else {
                // Active le bouton et filtre les cartes
                tagButtons.forEach(btn => btn.classList.remove("active"));
                this.classList.add("active");
                activeTag = selectedTag;
                filterCards(selectedTag);
            }
        });
    });

    function showAllCards() {
        cards.forEach(card => {
            card.parentElement.style.display = "block";
        });
    }

    function filterCards(tag) {
        cards.forEach(card => {
            const cardTags = Array.from(card.querySelectorAll(".badge")).map(tag => tag.textContent);
            if (cardTags.includes(tag)) {
                card.parentElement.style.display = "block";
            } else {
                card.parentElement.style.display = "none";
            }
        });
    }
});

    </script>
    
{{ end }}