article.markdown-content {
  counter-reset: h2counter;
}

article.markdown-content h2 {
  counter-reset: h3counter;
}

article.markdown-content h2::before {
  counter-increment: h2counter;
  content: counter(h2counter) ". ";
  color: var(--bs-primary);
  font-weight: 700;
  margin-right: 0.4em;
}

article.markdown-content h3 {
  counter-reset: h4counter;
}

article.markdown-content h3::before {
  counter-increment: h3counter;
  content: counter(h2counter) "." counter(h3counter) " ";
  color: var(--bs-secondary);
  font-weight: 600;
  margin-right: 0.4em;
}

article.markdown-content h4::before {
  counter-increment: h4counter;
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) " ";
  color: var(--bs-success);
  font-weight: 500;
  margin-right: 0.4em;
}

