/* style.css */
body {
  background-color: #faf0be; /* Fond couleur papier jaune */
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 50px; /* Ajoute de l'espace entre le main et le footer */
  padding: 20px;
}

main {
  min-height: calc(
    100vh - 180px
  ); /* Ajuste selon la hauteur du header et footer */
}


body {
    background-color: #f8f9fa;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
                      linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* Center the content vertically */
    text-align: center;
}


.dynamic-text {
    display: inline-block;
    font-weight: bold;
    /* color: var(--bs-primary); */
    white-space: nowrap;
    animation: slideText 4s infinite;
    min-height: 2rem; /* Fixe une hauteur minimale pour éviter les sauts */
    /* line-height: 1.5rem; Assure un alignement vertical correct */
}


.dynamic-text {
    display: inline-block;
    font-weight: bold;
    /* color: var(--bs-primary); */
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
    position: relative;
}

.dynamic-text::after {
    content: '|';
    position: absolute;
    right: 0;
    /* color: var(--bs-primary); */
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.timeline {
    width: 150px;
    position: sticky;
    top: 20px;
    border-left: 3px solid #ccc; /* Ajuste ici */
    padding-left: 20px;
}
