/* style.css */
body {
  background-color: #faf0be;
  /* Fond couleur papier jaune */
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 50px;
  /* Ajoute de l'espace entre le main et le footer */
  padding: 20px;
}

main {
  min-height: calc(100vh - 180px);
  /* Ajuste selon la hauteur du header et footer */
}

.social-icons {
    gap: 0.75rem;
}


body {
  /* background-color: #00f400; */
  background-image: linear-gradient(rgba(0, 0, 250, 0.03) 1px, transparent 1px),
    linear-gradient(to right, rgba(0, 0, 250, 0.03) 1px, transparent 1px);
  background-size: 20px 20px;
}


.emoji {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
  filter: grayscale(100%);
}



.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* Center the content vertically */
  text-align: center;
}


.dynamic-text {
  display: inline-block;
  font-weight: bold;
  /* color: var(--bs-primary); */
  white-space: nowrap;
  animation: slideText 4s infinite;
  min-height: 4rem;
  /* Fixe une hauteur minimale pour éviter les sauts */
  /* line-height: 1.5rem; Assure un alignement vertical correct */
}


.dynamic-text {
  display: inline-block;
  font-weight: bold;
  /* color: var(--bs-primary); */
  overflow: hidden;
  white-space: nowrap;
  padding-right: 5px;
  position: relative;
}

.dynamic-text::after {
  content: '|';
  position: absolute;
  right: 0;
  /* color: var(--bs-primary); */
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.timeline {
  width: 150px;
  position: sticky;
  top: 20px;
  border-left: 3px solid #ccc;
  /* Ajuste ici */
  padding-left: 20px;
}


.navbar-custom .nav-link.active {
  color: #ffdd57 !important;
  font-weight: bold;
  border-bottom: 3px solid #ffdd57;
}




.mosaic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 4px;
  overflow: hidden;
  z-index: -1;
}

.mosaic-item {
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.mosaic-item:hover {
  transform: scale(1.1);
}


.card-transparent {
  background-color: rgba(255, 255, 255, 0.2);
}

.card {
  border: none !important;
}

.citation {
  font-style: italic;
  color: #444;
}

#references {
  margin-top: 3rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

#references h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#references ul {
  list-style: none;
  padding: 0;
}

#references li {
  margin-bottom: 1rem;
  line-height: 1.4;
  font-size: 0.95rem;
}

#references a {
  text-decoration: none;
  color: #1a0dab;
}

#references a:hover {
  text-decoration: underline;
}


/* LIST ARTICLES */

/* Style for the tags section */

.title-tags {
  font-size: 18px;
  font-weight: bold;
  /* color: #333; */
  /* text-align: center; */
  padding-bottom: 10px;
  /* border-bottom: 2px solid var(--bs-primary); */
}

.card_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg,
      rgba(255, 255, 255, 1.0),
      rgba(0, 99, 255, 0.2));
  z-index: 1;
  /* border-radius: 0.5rem; */
}

.card_image>* {
  position: relative;
  z-index: 2;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.95rem;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #fafafa;
}




/*  */