{{/* Initialiser */}}
{{ .Scratch.Set "videos" (slice) }}


{{ range .Site.RegularPages }}
    {{ $dummy := .Content }} {{/* Force projects page creation first */}}
    {{ $page := . }}
    {{ with .Scratch.Get "figCounter" }}{{ end }} {{/* Juste pour forcer le rendu du shortcode si jamais */}}
    {{ if .Resources }}
        {{ range .Resources }}
            {{/* Rien à faire ici mais pour être complet */}}
        {{ end }}
    {{ end }}
    {{ with .Scratch.Get "videoData" }}
        {{ $all := $.Scratch.Get "videos" | default (slice) }}
        {{ $all = $all | append . }}
        {{ $.Scratch.Set "videos" $all }}
    {{ end }}
{{ end }}
