{{ define "main" }}

<!-- Section: Single Article Page -->
<article class="p-3 markdown-content container d-flex flex-column col-lg-10 col-md-12">

  <!-- Article Title -->
  <h1 class="text-primary">{{ .Title }}</h1>

  <!-- Tags -->
 <div class="d-flex flex-wrap gap-2">
  {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}/"
        class="btn btn-sm btn-secondary">
        <i class="bi bi-tag"></i> 
        <strong>{{ partial "tagrepr.html" . }}</strong>
      </a>
  {{ end }}
  </div>


     <div class="align-items-center mt-2 mb-3">
        <a href="{{ .Params.doi }}" class="btn btn-success" style="text-decoration: none;">
          <span style="text-decoration: underline;"><i class="bi bi-book-half"></i></span>
          <span style="display:inline-block; width: 0.25em;"></span>
          <span style="text-decoration: underline;">Access Scientific Article</span>
        </a>
      </div>

  <!-- Article Content -->
  <div class="col-12">
    {{ .Content }}
  </div>

  <!-- Link to External Article -->
  

</article>

{{ end }}
