{{ define "main" }}
<article class="p-3 markdown-content">
        <h1 class="text-primary">{{ .Title }}</h1>

        <div class="mb-3">
            {{ range .Params.tags }}
                <a href="/tags/{{ . | urlize }}" class="btn badge bg-primary me-2 mb-2 shadow">
                    #{{ . }}
                </a>
            {{ end }}
        </div>

  
        <div class="mb-3">
            {{ .Content }}
        </div>

        <div class="m-5 text-center">
            <a href="{{ .Params.doi }}" target="_blank" class="btn btn-primary btn-lg">View Article</a>
        </div>
        
    </article>
{{ end }}