{{ define "main" }}

<!-- Section: Single Article Page -->
<article class="p-3 markdown-content container d-flex flex-column align-items-center col-lg-10 col-md-12">

  <!-- Article Title -->
  <h1 class="text-primary">{{ .Title }}</h1>

  <!-- Tags -->
  <div class="">
      {{ range .Params.tags }}
        <!-- <a href="/tags/{{ . | urlize }}" class="badge bg-primary text-light">#{{ . }}</a> -->
        <a class="badge bg-primary text-light" disabled>#{{ . }}</a>
      {{ end }}
    </div>

  <!-- Article Content -->
  <div class="col-12">
    {{ .Content }}
  </div>

  <!-- Link to External Article -->
  <div class="m-5">
    <a href="{{ .Params.doi }}" target="_blank" class="btn btn-primary btn-lg">View Article</a>
  </div>

</article>

{{ end }}
