{{ define "main" }}
    <h1 class="text-info">{{ .Title }}</h1>
    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Rechercher une publication...">
    <ul class="list-group" id="publicationList">
        {{ range .Pages }}
            <li class="list-group-item publication-item">
                <h5>{{ .Title }}</h5>
                <p><strong>Conférence :</strong> {{ .Params.conference }}</p>
                <p><strong>Date :</strong> {{ .Date.Format "02 Janvier 2006" }}</p>
                <div class="d-flex gap-2">
                    <a href="{{ .Params.link }}" target="_blank" class="btn btn-primary btn-sm">Voir article</a>
                    <a href="{{ .RelPermalink }}" class="btn btn-secondary btn-sm">Voir plus</a>
                </div>
            </li>
        {{ end }}
    </ul>
{{ end }}