{{ $label  := .Get 0 }}
{{ $labels := .Page.Scratch.Get "labels" }}

{{ if not $label }}
  <strong>Missing reference label: use {{`{{< figure fig-label-name >}}`}}</strong>
{{ else if not $labels }}
  <strong>No labels map found on this page. Make sure you set it before using the ref.</strong>
{{ else }}
  {{ $figID := index $labels $label }}
  {{ if $figID }}
    <a href="#{{ $figID }}">Fig. {{ replace $figID "fig-" "" }}</a>
  {{ else }}
    <strong>Unknown reference: {{ $label }}</strong>
  {{ end }}
{{ end }}