{{ $videoNum := .Page.Scratch.Get "videoCounterCounter" | default 0 }}
{{ $videoNum = add $videoNum 1 }}
{{ .Page.Scratch.Set "videoCounterCounter" $videoNum }}

{{ $label := .Get "label" | default "" }}

<figure {{ if $label }}id="{{ $label }}"{{ end }}>
  <div class="ratio ratio-16x9" style="max-width: {{ .Get "width" }}px; margin: auto;">
    <iframe src="https://www.youtube.com/embed/{{ .Get "code" }}" allowfullscreen></iframe>
  </div>
  <figcaption>Video {{ $videoNum }} - {{ .Get "caption" }}</figcaption>
</figure>

<!-- label -->
{{ $video := dict "code" (.Get "code") "caption" (.Get "caption") "number" $videoNum }}
{{ if $label }}
  {{ .Page.Scratch.Set (printf "videoLabel-%s" $label) $video }}
{{ end }}

<!-- video saved (for homepage -->
{{ if not (.Get "ignore") }}
  {{ $videoSaved := dict "code" (.Get "code") "caption" (.Get "caption") "page" .Page }}
  {{ .Page.Scratch.Set "videoData" $videoSaved }}
{{ end }}