{{/* Vérifier si le compteur existe déjà pour cette page, sinon l'initialiser */}}
{{ $figNum := .Page.Scratch.Get "figCounter" | default 0 }}
{{ $figNum = add $figNum 1 }}
{{ .Page.Scratch.Set "figCounter" $figNum }}

<figure>
<div class="ratio ratio-16x9" style="max-width: {{ .Get "width" }}px; margin: auto;">
    <iframe src="https://www.youtube.com/embed/{{ .Get "code" }}" allowfullscreen></iframe>
</div>
<figcaption>Fig. {{ $figNum }} - {{ .Get "caption" }}</figcaption>
</figure>

{{ $video := dict "code" (.Get "code") "caption" (.Get "caption") "page" .Page }}
{{ .Page.Scratch.Set "videoData" $video }}
