{{/* Initialiser le compteur s'il n'existe pas encore */}}
{{ if not (.Page.Store.Get "figCounter") }}
    {{ .Page.Store.Set "figCounter" 1 }}
{{ end }}

{{/* Récupérer et incrémenter le compteur */}}
{{ $figNum := .Page.Store.Get "figCounter" }}
{{ .Page.Store.Set "figCounter" (add $figNum 1) }}

<figure>
<div class="ratio ratio-16x9" style="max-width: {{ .Get "width" }}px; margin: auto;">
    <iframe src="https://www.youtube.com/embed/{{ .Get "code" }}" allowfullscreen></iframe>
</div>
<figcaption>Fig. {{ $figNum }} - {{ .Get "caption" }}</figcaption>
</figure>